
@model Jersey
@{
    Layout = "_Layout";
}

<h2>Details</h2>

<h3>@Model.JBrand</h3>

<div class="thumbnail">
    <img alt="@Model.JBrand" src="@Model.JImageUrl">
    <div class="caption">
        <h4 class="pull-left">@Model.JBrand</h4>
        <h4 class="pull-right">@Model.JModel</h4>
        <h4>
            <p>@Model.JPrice.ToString("c")</p>
        </h4>
        <p>@Model.JColor</p>
        <p>@Model.JSize</p>
    </div>
</div>

