
@model Jersey


<h2>Details</h2>



<div class="thumbnail">
    <img alt="@Model.JBrand" src="@Model.JImageUrl">
    <div class="caption">
        <h4 class="pull-left">@Model.JBrand</h4>
        <h4 class="pull-right">@Model.JModel</h4>
        <br /><br />


        <p>@Model.JColor</p>
        <p>@Model.JSize</p>      
        <p>@Model.JPrice.ToString("c")</p>
    </div>
</div>

